<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="{{ site.encoding }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <title>{{ site.title }}</title>
  <link href="/assets/css/default.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class:"sidebar" >
    <h1 class="sidebar">{{ site.title }}</h1>
    <!--<img src="assets/images/ow.png" class="profile">-->
    <nav class="sidebar shift">
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
    </nav>
  </div>
  <div class="content">

    {{ content }}

  </div>
</body>

</html>